.fulllist{
    width: 40%;
    margin: auto;
    margin-top: 20px;
}
.list{
    width: 100%;
    margin-bottom: 20px;
}
.newGrocForm{
    width: 100%;
    margin:auto;
}
.newGrocSubmit{
    float:right;
}